<div class = "baby-booking-form">
<p>Total price: <b id="baby-booking-price"><%= @baby.price %></b> $ </p>
<%= simple_form_for [@baby, @booking] do |f| %>
  <%= f.input :booking_start, as: :date, html5: true, label_html: { id: 'booking-baby-start' } %>
  <%= f.input :booking_end, as: :date, html5: true, label_html: { id: 'booking-baby-end' } %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

</div>

<script>
  const calculateNumberOfDays = (startDate, endDate) => {
    return numberOfDays = (endDate.getTime()  - startDate.getTime()) / (1000 * 3600 * 24);
  };

  const updatePrice = (numberOfDaysToUpdate) => {
    price.innerHTML = numberOfDaysToUpdate * originalBabyPrice;
  };

  const start = document.querySelector("#booking_booking_start");
  const end = document.querySelector("#booking_booking_end");
  const price = document.querySelector("#baby-booking-price")
  const originalBabyPrice = Number(price.innerText)

  start.addEventListener("input", (event) => {
    if (end.value != ""){
      const endDate = new Date(end.value);
      const startDate = new Date(event.target.value);
      const numberOfDays = calculateNumberOfDays(startDate, endDate);
      updatePrice(numberOfDays);
    }
  });
  end.addEventListener("input", (event) => {
    if (start.value != ""){
      const startDate = new Date(start.value);
      const endDate = new Date(event.target.value);
      const numberOfDay = calculateNumberOfDays(startDate, endDate);
      updatePrice(numberOfDays);
    }
  });
</script>
