<h1>Edit <%= @baby.first_name %></h1>
<%= simple_form_for [@baby] do |f| %>
  <%= f.input :first_name %>
  <%= f.input :date_of_birth %>
  <%= f.input :category %>
  <%= f.input :bio %>
  <%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>
