<h1>Welcome to BB'n'B</h1>

<div class="container">
  <h2>Babies available</h2>
  <div class="cards">
    <% @babies.each do |baby| %>

    <%= link_to baby_path(baby.id) do %>

      <div class="card-product">

        <%= cl_image_tag baby.photo %>

          <div class="card-product-infos">
            <h2><%= baby.first_name %></h2>
            <p><strong>Date of birth: </strong><%= baby.date_of_birth %></p>
            <p><strong>Type of baby: </strong><%= baby.category %></p>
          </div>

      </div>
    <% end %>
    <% end %>
  </div>
  <br>
</div>


