<h1>Babies#new</h1>
<%= simple_form_for [@baby] do |f| %>
  <%= f.input :first_name %>
  <%= f.input :date_of_birth %>
  <%= f.input :category %>
  <%= f.input :bio %>

  <%= f.submit "Add a baby", class: "btn btn-primary" %>

<% end %>
