<h1>Babies#new</h1>
<%= form_for(@baby) do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :date_of_birth %>
  <%= f.text_field :date_of_birth %>
  <%= f.label :category %>
  <%= f.text_field :category %>
  <%= f.label :bio %>
  <%= f.text_field :bio %>

  <%= f.submit %>

<% end %>

